@import "./../../sass/abstracts/variables";
.Input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  label {
    font-size: 1.65rem;
    font-weight: 800;
    margin-bottom: 0.8rem;
    margin-left: 2rem;
  }
  input {
    padding: 1.8rem 2.2rem;
    background-color: $color-gray-light;
    border-radius: 0.6rem;
    font-size: 1.6rem;
    border: 1px solid $color-gray-mid;
    font-family: inherit;
    &:focus {
      outline: none;
    }
  }
}
