$color-blue: #5541d7;
$color-gray-dark: #92929d;
$color-gray-mid: #e2e2ea;
$color-gray-light: #f7f7fc;
$color-gray-light-2: rgb(218, 218, 237);
$color-white: #ffffff;
$color-eerie-black: #11142d;
$color-green: #42bda1;
