@import "./../../sass/abstracts/variables";
.NavigationBar {
  border-right: 1px solid $color-gray-mid;
  display: flex;
  display: flex;
  justify-content: center;

  &__list {
    margin-top: 4rem;
    list-style: none;

    &-item {
      display: flex;
      a {
        padding: 1.5rem 1.6rem;
        border-radius: 0.9rem;
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }
  }
}

.LinkActive {
  background-color: $color-blue;

  svg {
    path {
      fill: white;
    }

    .to-fill-back {
      fill: $color-blue;
    }
  }
}
